@page "/debts"

<div class="d-flex justify-content-between mt-5 mb-5">
    <div><h1 class="mb-0 h3">Debts</h1></div>
    <div>
    <button class="btn btn-primary" type="button" @onclick="OpenAddTransactionDialog">
        <span class="oi oi-plus" /> Add
    </button>
    </div>
</div>

<!--Debt List-->
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Transaction Type</th>
            <th>Amount</th>
            <th>Source of Debt</th>
            <th>Tag</th>
            <th>Notes</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var debt in _debts)
        {
            <tr>
                <td>@debt.CreatedAt.ToString("MMM dd, yyyy")</td>
                <td>@debt.Title</td>
                <td>@debt.Type</td>
                <td>
                    @if (_globalState?.CurrentUser != null)
                    {
                        @Utils.GetFormattedAmount(debt.Amount, _globalState.CurrentUser.Currency)
                    }
                </td>
                <td>@debt.SourceOfDebt</td>
                <td>
                    @if (debt.Tags != null && debt.Tags.Any())
                    {
                        @foreach (var tag in debt.Tags)
                        {
                            <span>@tag</span>
                            @if (tag != debt.Tags.Last())
                            {
                                @:,&nbsp;
                            }
                        }
                    }
                    else
                    {
                        @:N/A
                    }
                </td>
                <td>@(string.IsNullOrEmpty(debt.Notes) ? "N/A" : debt.Notes)</td>
                <td>@debt.DueDate?.ToString("MMM dd, yyyy")</td>
                <td>
                    <span class="@(debt.Status == 0 ? "status-pending" : "status-cleared")">@debt.Status</span>
                </td>

                <td>
                    @if (debt.Status == 0)
                    {
                        <button type="button" @onclick="()=>OpenClearDebtDialog(debt)" class="btn btn-primary">
                            <span class="oi oi-check" /> Clear
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<!--Debt List End-->

<!-- Add Debt Dialog -->
<MudDialog @ref="AddDebtDialog">
    <DialogContent>
        <MudDialogTitle Style="font-size: 1.5rem;">Add New Debt</MudDialogTitle>
        <MudForm @bind-IsValid="IsFormValid" @ref="DebtForm">
            <MudTextField Label="Title" @bind-Value="_newDebt.Title" Required="true" />
            <MudNumericField Label="Amount" @bind-Value="_newDebt.Amount" Required="true" Min="0" />
            <MudTextField Label="Source of Debt" @bind-Value="_newDebt.SourceOfDebt" Required="true" />
            <MudDatePicker Label="Due Date" @bind-Date="_newDebt.DueDate" Required="true" />
            <div class="tags-container">
                <label for="tags" class="tags-label">Tags</label>
                <div class="checkbox-group">
                    @foreach (var tag in _tags)
                    {
                        <div class="checkbox-item">
                            <input type="checkbox"
                                   id="@tag.Name"
                                   value="@tag.Name"
                                   checked="@GetCheckedState(tag.Name)"
                                   @onchange="(e) => storeTags(e, tag.Name)" />
                            <label for="@tag.Name">@tag.Name</label>
                        </div>
                    }
                </div>
            </div>
            <MudTextField Label="Notes" @bind-Value="_newDebt.Notes" />
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="SaveTransaction" Disabled="!IsFormValid">Save</MudButton>
        <MudButton Color="Color.Secondary" OnClick="CancelDialog">Cancel</MudButton>
    </DialogActions>
</MudDialog>
<!-- Add Debt Dialog End -->

<!-- Clear Debt Dialog -->
<MudDialog @ref="ClearDebtDialog">
    <DialogContent>
        <MudText Typo="Typo.h6">Are you sure you want to clear this debt?</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Error" OnClick="ClearDebt">Clear</MudButton>
        <MudButton Color="Color.Primary" OnClick="CancelClearDialog">Cancel</MudButton>
    </DialogActions>
</MudDialog>
<!-- Clear Debt Dialog End -->

<!-- Delete Debt Dialog -->
<MudDialog @ref="DeleteDebtDialog">
    <DialogContent>
        <MudText Typo="Typo.h6">Are you sure you want to delete this debt?</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Error" OnClick="DeleteDebt">Delete</MudButton>
        <MudButton Color="Color.Primary" OnClick="CancelDeleteDialog">Cancel</MudButton>
    </DialogActions>
</MudDialog>
<!-- Delete Debt Dialog End -->

<!-- Snack Bar -->
<MudSnackbarProvider MaxDisplayedSnackbars="3" PreventDuplicates="true" Position="SnackbarPosition.TopCenter" />
