@page "/transactions"

<nav class="navbar navbar-light bg-light justify-content-between">
    <h1 class="navbar-brand mb-0 h1">Transactions</h1>
    <button class="btn btn-primary" type="button" @onclick="OpenAddTransactionDialog">
        <span class="oi oi-plus" /> Add
    </button>
</nav>

<h2>Current Balance: @_balance</h2>

<!-- Filter -->
<div class="d-flex align-items-center gap-3">
    <input type="search" class="form-control search" placeholder="Search by title" @oninput="SearchTransactionTitle" />
    <!-- Type Filter -->
    <select class="form-control" @onchange="FilterByTransactionType">
        <option value="">Select Transaction Type</option>
        @foreach (var type in Enum.GetValues(typeof(TransactionType)).Cast<TransactionType>())
        {
            <option value="@type">@type</option>
        }
    </select>
    <!-- Tag Filter -->
    <select class="form-control" @onchange="FilterByTag">
        <option value="">Select Tag</option>
        @foreach (var tag in Enum.GetValues(typeof(DefaultTag)).Cast<DefaultTag>())
        {
            <option value="@tag">@tag</option>
        }
    </select>
    <MudDateRangePicker PickerVariant="@_variant" @bind-DateRange="@_dateRange" Margin="Margin.Dense"/>
    <input type="date" class="form-control" @onchange="FilterBySpecificDate" />
</div>
<!-- Filter Ends -->

<!--Transaction List-->
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Label</th>
            <th>Amount</th>
            <th>Tag</th>
            <th>Notes</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in _transactions)
        {
            <tr>
                <td>@transaction.CreatedAt.ToString("MMM dd, yyyy")</td>
                <td>@transaction.Title</td>
                <td>@transaction.Type</td>
                <td>
                    @if (_globalState?.CurrentUser != null)
                    {
                        @Utils.GetFormattedAmount(transaction.Amount, _globalState.CurrentUser.Currency)
                    }
                </td>
                <td>@transaction.Tags</td>
                <td>@transaction.Notes</td>
                <td>
                    <button class="btn btn-outline-danger" type="button" @onclick="()=>OpenDeleteTransactionDialog(transaction)">
                        <span class="oi oi-delete" /> Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<!--Transaction List End-->

<!-- Add Transaction Dialog -->
<MudDialog @ref="AddTransactionDialog">
    <DialogContent>
        <MudForm @bind-IsValid="IsFormValid" @ref="TransactionForm">
            <MudTextField Label="Title" @bind-Value="_newTransaction.Title" Required="true" />
            <MudNumericField Label="Amount" @bind-Value="_newTransaction.Amount" Required="true" />
            <MudTextField Label="Type" @bind-Value="_newTransaction.Type" Required="true" />
            <MudTextField Label="Tags" @bind-Value="_newTransaction.Tags" />
            <MudTextField Label="Notes" @bind-Value="_newTransaction.Notes" />
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="SaveTransaction" Disabled="!IsFormValid">Save</MudButton>
        <MudButton Color="Color.Secondary" OnClick="CancelDialog">Cancel</MudButton>
    </DialogActions>
</MudDialog>
<!-- Add Transaction Dialog End -->

<!-- Delete Transaction Dialog -->
<MudDialog @ref="DeleteTransactionDialog">
    <DialogContent>
        <MudText Typo="Typo.h6">Are you sure you want to delete this transaction?</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Error" OnClick="DeleteTransaction">Delete</MudButton>
        <MudButton Color="Color.Primary" OnClick="CancelDeleteDialog">Cancel</MudButton>
    </DialogActions>
</MudDialog>
<!-- Delete Transaction Dialog End -->

<MudSnackbarProvider MaxDisplayedSnackbars="3" PreventDuplicates="true" Position="SnackbarPosition.TopCenter" />